@model IEnumerable<PassionProject.Models.PlayerDto>

@{
    ViewBag.Title = "View";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerInjuryDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerInjuryDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlayerID })

            </td>
        </tr>
    }

</table>