@model PassionProject.Models.ViewModels.UpdateInjury

@{
    ViewBag.Title = "Details";
}

<h4>Injury @Model.injury.InjuryName</h4>

<div>
    <div>@Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.injury.InjuryID })</div>
    <div style="overflow:hidden;">
        <div style="float:left; marign-right:2%; width:49%;">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.injury.InjuryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.injury.InjuryName)
                </dd>

            </dl>
        </div>
        <div style="float:left; marign-right:0%; width:49%;">
            <h4>Players Injuried:</h4>
            <div>
                @foreach (var player in Model.injuriedplayers)
                {
                    <div>
                        @Html.ActionLink(
                        player.PlayerName,
                        "Details",
                        "Player",
                        new { id = player.PlayerID },
                        new { })
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.injury.InjuryID }) |
    @Html.ActionLink("Back to List", "List")
</p>